<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>eating.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EAD3A6D1EB9B62D00812438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EAD3A811EB9B62E00812438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EAD3A8C1EB9B62E00812438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
